@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    background: #fff url(./imagens/bg.png);
    margin: 15px;
}

#container {
    background: #e2e9cc url(./imagens/bg-container.png) top center repeat-y;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;
}

#topo {
    position: relative;
    background: #dbcd87;
    height: 15.4em;
    min-height: 250px;
}

#area-logo {
    position: absolute;
    background: url(./imagens/topo-imagem-principal.png) no-repeat;
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
}

.logo a {
    position: absolute;
    width: 151px;
    height: 66;
    left: 15px;
    top: 15px;
}

#area-menu {
    position: absolute;
    top: 0;
    right: 0;
    background: url(./imagens/topo-imagem-lateral.png) no-repeat;
    width: 450px;
    height: 250px;
}

#conteudo-menu {
    margin-left: 90px;
    margin-right: 15px;
    padding-top: 15px;
}

#menu-locais {
    border-bottom: 1px solid #b5ab56;
    border-top: 1px solid #b5ab56;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.7em;
    color: #8b8448;
}

#menu-locais .locais {
    float: left;
    line-height: 2.1em;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a.reserva {
    text-transform: uppercase;
    background-color: #a29750;
    color: #FFF5B0;
    padding: 5px 10px;
    float: right;
    border-radius: 5px;
}

a.reserva:hover {
    color: #6e672c;
    transition: 200ms;
}

/* BARRA DE NAVEGAÇÃO VERTICAL */

#menu {
    margin-top: 15px;
}

#menu img {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

ul#navegacao {
    position: absolute;
    top: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

ul#navegacao a {
    text-transform: uppercase;
    font: 0.8em;
    padding: 5px;
    color: #6e672c;
    line-height: 30px;
}

ul#navegacao a:hover {
    background-color: #fdf6be;
    transition: 300ms;
}

#conteudo-principal {
    position: relative;
    margin-top: 10px;
}

#area-principal {
    float: left;
    width: 50%;
    background: url(./imagens/bg-area-principal.png) top left repeat-x;
    padding: 15px 0px;
}

#area-lateral {
    float: right;
    width: 50%;
    background: url(./imagens/bg-area-lateral.png) top left repeat-x;
    padding: 20px 0px;
}

.conteudo {
    margin: 0 auto;
    width: 90%;
}

h2 {
    font-size: 1.1em;
    color: #8a7d4b;
    padding: 5px 0px;
}

#rodape {
    clear: both;
    padding: 16px;
    background: #fff url(./imagens/bg-rodape.png) repeat-x top;
    color: #7d7640;
}

p {
    font-size: 1em;
    margin-bottom: 10px;
}

#beneficios li{
    padding: 8px;
    border-bottom: 1px solid #f3efcb;
    height: 6em;
}

#beneficios li a img {
    float: left;
    margin-right: 8px;
}

#beneficios li a p {
    font-size: 0.8em;
    color: #000;
}

#beneficios li a h3 {
    font-size: 1em;
    color: #615b2d;
    padding: 5px 0;
    background: url(./imagens/ornamento.png) no-repeat center right;
}

#beneficios li:hover {
    background: #f6f3d6;
    cursor: pointer;
}



